@import "../Variables/items.scss";
.options-row1 {
  width: 90%;
  //   @include flex(space-between, center, row);
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 115px);
  justify-content: space-between;
}
