@import "../../Variables/items.scss";
@import "../../Variables/colors.scss";

.Setting-container {
  margin-top: 3rem;
  @include flex(space-between, center, column);
  width: 100%;
}
.AyahTextSetting-head {
  width: 92%;
  @include flex(flex-start, center, row);
  @include text(black, 1.1rem, 600);
  margin: 1rem 0 0.5rem 0;
}
.TranslationTextSetting-head {
  width: 92%;
  @include flex(flex-start, center, row);
  @include text(black, 1.1rem, 600);
  margin: 1rem 0 0.5rem 0;
}
.Setting-topic-container {
  width: 100%;
  @include flex(center, center, row);
  margin-bottom: 1rem;
}
.Setting-topic-arrow {
  @include flex(center, center, row);
  margin: 2rem 0 1rem 1rem;
}
.Setting-topic {
  @include text($sky-color, 1.5rem, 600);
  @include flex(center, center, row);
  margin: 2rem 0 1rem 0;
}
.Setting-topic-empty {
  width: 2rem;
  height: 2rem;
  margin: 2rem 1rem 1rem 0;
  @include flex(center, center, row);
  background-color: transparent;
}

@media only screen and (min-width: 420px) {
  .Setting-topic-container {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 520px) {
  .Setting-topic-container {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 720px) {
  .Setting-topic-container {
    margin-bottom: 8rem;
  }
}
