@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.TextFont-container {
  width: 90%;
}

.TextFont-title {
  margin: 0.5rem 0;
  @include text($sky-color, 0.8rem, 600);
}

.TextFont-options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 2rem);
  justify-content: space-between;
}

.TextFont-option {
  @include flex(flex-start, center, row);
}
.TextFont-option-title {
  @include text($sky-color2, 0.8rem, 400);
}
