@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.TextWeight-container {
  width: 93%;
}

.TextWeight-title {
  margin: 1.5rem 0 0.5rem 0;
  @include text($sky-color, 0.9rem, 600);
}

.TextWeight-options {
  width: 100%;
  //   display: grid;
  //   grid-template-columns: repeat(2, 45%);
  //   grid-template-rows: repeat(2, 2rem);
  @include flex(space-between, center, row);
  justify-content: space-between;
}

.TextWeight-option {
  @include flex(flex-start, center, row);
}
.TextWeight-option-title {
  @include text($sky-color2, 0.9rem, 400);
}
