@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.TranslationTextSetting-container {
  width: 92%;
  background-color: $blue-color2;
  border-radius: 15px;
  @include flex(flex-start, center, column);
  margin-bottom: 1.5rem;
}
.TranslationTextSetting-AyahTranslation-container {
  width: 90%;
  margin-bottom: 1rem;
}
