@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.TranslationName-container {
  width: 93%;
}

.TranslationName-title {
  margin: 1.5rem 0 0.5rem 0;
  @include text($sky-color, 0.9rem, 600);
}

.TranslationName-options {
  width: 100%;
  @include flex(space-between, flex-start, column);
}

.TranslationName-option {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border-radius: 10px;
  width: 100%;
  @include flex(flex-start, center, row);
}
.TranslationName-option.active {
  background-color: darken($blue-color2, 10%);
}
#safavi {
  background-image: url("../../../Images/rsz_1pic2113.png");
}
#fooladvand {
  background-image: url("../../../Images/fooladvand.png");
}
#ghomshei {
  background-image: url("../../../Images/ghomshei.png");
}
#makarem {
  background-image: url("../../../Images/makarem.png");
}
.TranslationName-option-img {
  width: 40px;
  height: 40px;
  border: 3px solid $blue-color2;
  outline: 3px solid $blue-color2;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.2rem;
}
.TranslationName-option-img.active {
  border: 3px solid white;
  outline: 3px solid $color2;
}
.TranslationName-option-title {
  margin-right: 0.5rem;
  @include text($sky-color2, 0.9rem, 400);
}
