@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.TranslationWeight-container {
  width: 93%;
}

.TranslationWeight-title {
  margin: 0.5rem 0;
  @include text($sky-color, 0.9rem, 600);
}

.TranslationWeight-options {
  width: 100%;
  @include flex(space-between, center, row);
}

.TranslationWeight-option {
  @include flex(flex-start, center, row);
}
.TranslationWeight-option-title {
  @include text($sky-color2, 0.9rem, 400);
}
