@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.TranslationSize-container {
  width: 93%;
}

.TranslationSize-title {
  margin: 1.5rem 0 0.5rem 0;
  @include text($sky-color, 0.9rem, 600);
}
.TranslationSize-range-container {
  width: 100%;
  margin: 1rem 0;
}
.TranslationSize-range-shape {
  width: 100%;
  height: 4rem;
  @include flex(center, center, row);
  margin-bottom: 0.5rem;
  position: relative;
}
.TranslationSize-range-line {
  z-index: 1001;
  width: 100%;
  height: 2px;
  background-color: $sky-color2;
  position: absolute;
  top: 3.8px;
}
.TranslationSize-range-items {
  position: absolute;
  width: 100%;
  @include flex(space-between, center, row);
  top: 0;
}
.TranslationSize-range-item {
  background-color: transparent;
  @include flex(space-between, center, column);
}
.TranslationSize-range-dot {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid $blue-color2;
  background-color: $sky-color2;
  margin-bottom: 0.5rem;
  position: absolute;
  z-index: 1003;
  transition: 0.3s ease;
}
.TranslationSize-range-dot.active {
  transition: transform 0.3s ease;
  transform: scale(1.6);
  background-color: $color2;
}
.TranslationSize-range-title {
  cursor: pointer;
  @include text($sky-color2, 0.8rem, 400);
  margin-top: 1rem;
  transition: 0.3s ease;
}
.TranslationSize-range-title.active {
  color: $color2;
  transition: 0.3s ease;
}

.TranslationSize-firstdot {
  position: relative;
}
.TranslationSize-before-firstdot {
  width: 2rem;
  height: 14px;
  right: -2rem;
  background-color: $blue-color2;
  position: absolute;
  z-index: 1002;
}

.TranslationSize-lastdot {
  position: relative;
}
.TranslationSize-after-lastdot {
  width: 2rem;
  height: 14px;
  left: -1.9rem;
  background-color: $blue-color2;
  position: absolute;
  z-index: 1002;
}
