@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.TranslationFont-container {
  width: 93%;
}

.TranslationFont-title {
  margin: 1rem 0 0.5rem 0;
  @include text($sky-color, 0.9rem, 600);
}

.TranslationFont-options {
  width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(2, 2rem);
  justify-content: space-between;
}

.TranslationFont-option {
  @include flex(flex-start, center, row);
}
.TranslationFont-option-title {
  @include text($sky-color2, 0.9rem, 400);
}
