@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";
.Ayah-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
  cursor: pointer;
}
.Ayah-container-right {
  margin: 0 0.5rem 0 0.2rem;
}
.Ayah-container-left {
  width: 45px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  margin: 0 0.3rem 0 0.4rem;
}
.Ayah-container-left-inner {
  width: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: sticky;
  top: 0.5rem;
  cursor: default;
}
