@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.Audio-container {
  position: fixed;
  bottom: 0.5rem;
  left: 0 !important;
  right: 0 !important;
  width: 720px;
  max-width: 100%;
  z-index: 10002;
  margin-right: auto !important;
  margin-left: auto !important;
  @include flex(center, center, row);
}
.Audio-container-inner {
  border-radius: 15px;
  height: 6rem;
  @include flex(center, center, row);
  width: 87%;
  position: relative;
  background-color: $blue-color2;
}
