@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.Audio-container {
  position: fixed;
  bottom: 0.5rem;
  left: 0 !important;
  right: 0 !important;
  width: 720px;
  max-width: 100%;
  z-index: 10002;
  margin-right: auto !important;
  margin-left: auto !important;
  @include flex(center, center, column);
  z-index: 10006;
}
.close-Audio-btn {
  width: 1rem;
  height: 1rem;
  size: 1rem;
}
.Audio-container-inner {
  border-radius: 15px;
  height: 6rem;
  @include flex(space-evenly, center, row);
  width: 87%;
  position: relative;
  background-color: $blue-color2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.359);
}
.reciter-option {
  width: 40px;
  height: 40px;
  border: 3px solid $blue-color2;
  outline: 3px solid $blue-color2;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.2rem;
  cursor: pointer;
}
.reciter-option.active {
  border: 3px solid white;
  outline: 3px solid $color2;
}
.reciter-option.Alafasy {
  background-image: url("../../../Images/Alafasy.png");
}
.reciter-option.Abdul_Basit_Murattal {
  background-image: url("../../../Images/Abdul-basit.png");
}
.reciter-option.Ghamadi {
  background-image: url("../../../Images/Ghamadi.png");
}
.reciter-option.Minshawy_Murattal {
  background-image: url("../../../Images/Minshawy.png");
}

.translation-option {
  width: 40px;
  height: 40px;
  border: 3px solid $blue-color2;
  outline: 3px solid $blue-color2;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.2rem;
  cursor: pointer;
}
.translation-option.active {
  border: 3px solid white;
  outline: 3px solid $color2;
}
.translation-option.safavi {
  background-image: url("../../../Images/rsz_1pic2113.png");
}
.translation-option.fooladvand {
  background-image: url("../../../Images/fooladvand.png");
}
.translation-option.ghomshei {
  background-image: url("../../../Images/ghomshei.png");
}
.translation-option.makarem {
  background-image: url("../../../Images/makarem.png");
}

.Audio-BackgundShadow {
  position: fixed;
  width: 720px;
  max-width: 100%;
  max-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000007e;
  z-index: 10005;
}
.AyahOptionsNav-backgroundShadow {
  position: fixed;
  width: 720px;
  max-width: 100%;
  max-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000007e;
  z-index: 10007;
}
