@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.TranslationName2 {
  position: fixed;
  bottom: 4.5rem;
  left: 0 !important;
  right: 0 !important;
  width: 720px;
  max-width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
  @include flex(center, center, column);
  z-index: 10005;
}
.TranslationName2.open {
  animation: openAnimation 0.5s forwards alternate;
}
.TranslationName2.close {
  animation: closeAnimation 0.5s forwards alternate;
  z-index: -1;
}

.TranslationName2-container {
  width: 87%;
  background-color: $blue-color2;
  padding-bottom: 3.5rem;
  border-radius: 15px 15px 0 0;
}

.TranslationName2-title {
  margin: 1.5rem 0.5rem 0.5rem 0;
  @include text($sky-color, 0.9rem, 600);
}

.TranslationName2-options {
  width: 100%;
  margin-right: 1rem;
  @include flex(space-between, flex-start, column);
}

.TranslationName2-option {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border-radius: 10px;
  width: 90%;
  @include flex(flex-start, center, row);
  cursor: pointer;
}
.TranslationName2-option.active {
  background-color: darken($blue-color2, 10%);
}

.TranslationName2-option-img {
  width: 40px;
  height: 40px;
  border: 3px solid $blue-color2;
  outline: 3px solid $blue-color2;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.2rem;
}
.TranslationName2-option-img.active {
  border: 3px solid white;
  outline: 3px solid $color2;
}
.TranslationName2-option-img.safavi {
  background-image: url("../../../Images/rsz_1pic2113.png");
}
.TranslationName2-option-img.fooladvand {
  background-image: url("../../../Images/fooladvand.png");
}
.TranslationName2-option-img.ghomshei {
  background-image: url("../../../Images/ghomshei.png");
}
.TranslationName2-option-img.makarem {
  background-image: url("../../../Images/makarem.png");
}
.TranslationName2-option-title {
  margin-right: 0.5rem;
  @include text($sky-color2, 0.9rem, 400);
}

@keyframes openAnimation {
  0% {
    transform: translateY(30rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30rem);
    z-index: -1;
  }
}
