$screen-color: #f5f5f5;
$sky-color: #2d3f50;
$sky-color2: #4b6073;
$app-background-color: #fdfdfd;
$header-text-color: #2d3f50;
$title-text-color: #000000;
$sub-title1-text-color: #ababab;
$sub-title2-text-color: #5f5f5f;
$text-background-color: #f6fcfc;
$blue-color1: #26b3b7;
$blue-color2: #b1cbff;
$blue-color3: #49bec1;
$background-loading-color: #d5dadbcc;
$border-color: #eaeaea;
$color1: #f4f4f4;
$color2: #3197ee;
