$screen-color: #f5f5f5;
$sky-color: #2d3f50;
$app-background-color: #fdfdfd;
$header-text-color: #2d3f50;
$title-text-color: #000000;
$sub-title1-text-color: #ababab;
$sub-title2-text-color: #f5f5f5;
$text-background-color: #f6fcfc;
