@font-face {
  font-family: "IRANSans";
  src: url("../../Fonts/IRANSans/FontsFree-Net-ir_sans.eot");
  src: url("../../Fonts/IRANSans/FontsFree-Net-ir_sans.eot?#iefix")
      format("embedded-opentype"),
    url("../../Fonts/IRANSans/IRANSans.woff") format("woff"),
    url("../../Fonts/IRANSans/FontsFree-Net-ir_sans.woff2") format("woff2"),
    url("../../Fonts/IRANSans/IRANSans.ttf") format("truetype"),
    url("../../Fonts/IRANSans/IRANSans.svg") format("svg");
}
@font-face {
  font-family: "IRANYecan";
  src: url("../../Fonts/IRANYecan/IRANYekan.eot");
  src: url("../../Fonts/IRANYecan/IRANYekan.eot?#iefix")
      format("embedded-opentype"),
    url("../../Fonts/IRANYecan/IRANYekan.woff") format("woff"),
    url("../../Fonts/IRANYecan/IRANYekan.woff2") format("woff2"),
    url("../../Fonts/IRANYecan/IRANYekan.ttf") format("truetype"),
    url("../../Fonts/IRANYecan/IRANYekan.svg") format("svg");
}
@font-face {
  font-family: "QuranTaha";
  src: url("../../Fonts/QuranTaha/QuranTaha.eot");
  src: url("../../Fonts/QuranTaha/QuranTaha.eot?#iefix")
      format("embedded-opentype"),
    url("../../Fonts/QuranTaha/QuranTaha.woff") format("woff"),
    url("../../Fonts/QuranTaha/QuranTaha.woff2") format("woff2"),
    url("../../Fonts/QuranTaha/QuranTaha.ttf") format("truetype");
}
@font-face {
  font-family: "MeQuran";
  src: url("../../Fonts/MeQuran/MeQuran.eot");
  src: url("../../Fonts/MeQuran/MeQuran.eot?#iefix") format("embedded-opentype"),
    url("../../Fonts/MeQuran/MeQuran.woff") format("woff"),
    url("../../Fonts/MeQuran/MeQuran.woff2") format("woff2"),
    url("../../Fonts/MeQuran/MeQuran.ttf") format("truetype"),
    url("../../Fonts/MeQuran/MeQuran.svg") format("svg");
}
$IRANSans: "IRANSans", sans-serif;
$IRANYecan: "IRANYecan", sans-serif;
$MeQuran: "MeQuran", "QuranTaha";
