@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";
.cover {
  width: 720px;
  max-width: 100%;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: $sky-color;
  @include flex(flex-end, center, column);
}
// .cover.fixScreen {
//   height: 100vh;
// }
.cover-header {
  @include flex(space-between, center, row);
  width: 90%;
  min-height: 10vh;
  .IoSettings-div {
    @include flex(center, center, row);
    cursor: pointer;
  }
  .settingTwo {
    color: #ffffff;
    cursor: pointer;
  }
  .moonStarsFill-div {
    @include flex(center, center, row);
    position: relative;
    .moon-background {
      position: absolute;
      width: 72px;
      height: 72px;
      background: radial-gradient(
        50% 51.44% at 50% 50%,
        rgba(217, 217, 217, 0.235) 0%,
        rgba(217, 217, 217, 0) 100%
      );
    }
  }
  .moonStarsFill {
    color: #ffffff;
  }
}
.cover-inline {
  width: 96%;
  min-height: 90vh;
  background-color: $app-background-color;
  border-radius: 25rem 25rem 0 0;
  border-left: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  border-top: 6px solid #ffffff;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  @include flex(flex-start, center, column);
}
