@import "../../../Variables/items.scss";
@import "../../../Variables/colors.scss";
.QuranNavbar-container {
  background-color: $sky-color;
  border-radius: 15px;
  width: 90%;
  @include flex(space-between, center, row);
  margin: 1rem 0 0 0;
}
.QuranNavbar-item {
  background-color: transparent;
  border: 0;
  padding: 0.3rem 0.8rem;
  margin: 0.2rem;
  border-radius: 12px;
  cursor: pointer;
  @include text(white, 0.9rem, 400);
}
.QuranNavbar-item.active {
  background-color: $blue-color1;
}

// @media only screen and (min-width: 420px) {
//   .QuranNavbar-item {
//     a {
//       @include text(white, 0.9rem, 400);
//     }
//   }
// }

// @media only screen and (min-width: 650px) {
//   .QuranNavbar-item {
//     a {
//       @include text(white, 1rem, 400);
//     }
//   }
// }
