@import "../../../Variables/items.scss";
@import "../../../Variables/colors.scss";
.QuranNavbar-container {
  width: 90%;
  @include flex(space-between, center, row);
  margin: 1rem 0;
}
.QuranNavbar-item {
  padding-bottom: 0.5rem;
  background-color: transparent;
  border: 0;
  a {
    cursor: pointer;
    @include text($sub-title1-text-color, 0.7rem, 400);
  }
}
.QuranNavbar-item:hover {
  a {
    color: $sub-title2-text-color;
  }
}
// .QuranNavbar-item:focus {
//   border-bottom: 2px solid $blue-color1;
//   margin-bottom: -2px;
//   a {
//     color: $sub-title2-text-color;
//   }
// }
.QuranNavbar-item.active {
  border-bottom: 2px solid $blue-color1;
  margin-bottom: -2px;
  a {
    color: $sub-title2-text-color;
  }
}
@media only screen and (min-width: 420px) {
  .QuranNavbar-item {
    a {
      @include text($sub-title1-text-color, 0.8rem, 400);
    }
  }
}

@media only screen and (min-width: 650px) {
  .QuranNavbar-item {
    a {
      @include text($sub-title1-text-color, 0.9rem, 400);
    }
  }
}
