@import "../../../Variables/colors.scss";
@import "../../../Variables/items.scss";
.juzList-container {
  width: 90%;
  margin: 0 0 1rem 0;
}

.search-juz-div {
  width: 100%;
  margin-bottom: 2rem;
  @include flex(center, center, row);
  cursor: pointer;
}
.search-juz-input {
  width: 90%;
  padding: 0 0.5rem;
  border-radius: 0 0 10px 10px;
  outline: 0;
  border-bottom: 2px solid $sky-color;
  border-right: 2px solid $sky-color;
  border-left: 2px solid $sky-color;
  border-top: 0;
  height: 2rem;
}
.search-juz-input::placeholder {
  @include text($sub-title1-text-color, 0.6rem, 400);
}

.juzList-item {
  width: 100%;
  @include flex(space-between, center, row);
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
}
.juzList-item-right {
  width: 70%;
  @include flex(flex-start, center, row);
}

.juzList-item-number {
  background-image: url("../../../../Images/halal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  @include flex(center, center, row);
  color: white;
  margin-left: 0.5rem;
}
.juzList-item-desc {
  @include flex(space-between, center, row);
}

.juzList-item-number,
.juzList-item-desc {
  font-size: 0.8rem;
  font-weight: 400;
}
.juzList-item-left {
  width: 30%;
  @include flex(flex-end, center, row);
}
.juzList-add {
  margin-right: 1rem;
  img {
    object-fit: contain;
    width: 1.5rem;
    height: auto;
  }
}

@media only screen and (min-width: 420px) {
  .search-juz-input::placeholder {
    @include text($sub-title1-text-color, 0.7rem, 400);
  }
  .juzList-item-number,
  .juzList-item-desc {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .juzList-item-number {
    width: 2.7rem;
    height: 2.7rem;
  }
  .juzList-add {
    img {
      width: 1.7rem;
    }
  }
}

@media only screen and (min-width: 650px) {
  .search-juz-input::placeholder {
    @include text($sub-title1-text-color, 0.8rem, 400);
  }
  .juzList-item-number,
  .juzList-item-desc {
    font-size: 1rem;
    font-weight: 400;
  }
  .juzList-item-number {
    width: 3rem;
    height: 3rem;
  }
  .juzList-add {
    img {
      width: 2rem;
    }
  }
}
