@import "../../../Variables/colors.scss";
@import "../../../Variables/items.scss";

.SurahList-container {
  width: 90%;
  margin: 0 0 1rem 0;
  cursor: pointer;
}

.search-surah-div {
  width: 100%;
  margin-bottom: 2rem;
  @include flex(center, center, row);
}
.search-surah-input {
  width: 90%;
  padding: 0 0.5rem;
  border-radius: 0 0 10px 10px;
  outline: 0;
  // border-left: 2px solid $sub-title1-text-color;
  // border-right: 2px solid $sub-title1-text-color;
  border-bottom: 2px solid $sky-color;
  border-right: 2px solid $sky-color;
  border-left: 2px solid $sky-color;
  border-top: 0;
  height: 2rem;
}
// .search-surah-input:focus {
//   border: 2px solid $blue-color1;
// }
.search-surah-input::placeholder {
  @include text($sub-title1-text-color, 0.6rem, 400);
}

.SurahList-item {
  width: 100%;
  @include flex(space-between, center, row);
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $border-color;
}
.SurahList-item-right {
  width: 50%;
  @include flex(flex-start, center, row);
}
.SurahList-index {
  @include flex(center, center, row);
  background-image: url("../../../../Images/islam.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}
.SurahList-name,
.SurahList-index {
  @include text($title-text-color, 0.8rem, 400);
}
.SurahList-item-left {
  width: 50%;
  @include flex(flex-end, center, row);
}
.SurahList-type {
  img {
    object-fit: contain;
    width: 1.5rem;
    height: auto;
  }
}
.SurahList-add {
  margin-right: 1rem;
  img {
    object-fit: contain;
    width: 1.5rem;
    height: auto;
  }
}
@media only screen and (min-width: 420px) {
  .search-surah-input::placeholder {
    @include text($sub-title1-text-color, 0.7rem, 400);
  }
  .SurahList-name,
  .SurahList-index {
    @include text($title-text-color, 0.9rem, 400);
  }
  .SurahList-type {
    @include flex(center, center, row);
    img {
      width: 1.7rem;
    }
  }
  .SurahList-add {
    @include flex(center, center, row);
    img {
      width: 1.7rem;
    }
  }
  .SurahList-index {
    width: 2.7rem;
    height: 2.7rem;
  }
}
@media only screen and (min-width: 650px) {
  .search-surah-input::placeholder {
    @include text($sub-title1-text-color, 0.8rem, 400);
  }
  .SurahList-name,
  .SurahList-index {
    @include text($title-text-color, 1rem, 400);
  }
  .SurahList-type {
    img {
      width: 2rem;
    }
  }
  .SurahList-add {
    img {
      width: 2rem;
    }
  }
  .SurahList-index {
    width: 3rem;
    height: 3rem;
  }
}
