@import "../../Variables/items.scss";
@import "../../Variables/colors.scss";
.AudioQuran-container {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  @include flex(space-between, center, column);

  .AudioQuran-title {
    margin: 2rem 0 1rem 0;
    p {
      @include text($header-text-color, 1.5rem, 600);
    }
  }
}
.AudioQuran-container.pageList {
  @include flex(flex-start, center, column);
}

@media only screen and (min-width: 420px) {
  .AudioQuran-container {
    margin-top: 4rem;
    .AudioQuran-title {
      margin-bottom: 4rem;
      // p {
      //   @include text($header-text-color, 1.4rem, 600);
      // }
    }
  }
}
@media only screen and (min-width: 650px) {
  .AudioQuran-container {
    margin-top: 5rem;
    .AudioQuran-title {
      margin-bottom: 6rem;
      // p {
      //   @include text($header-text-color, 1.6rem, 600);
      // }
    }
  }
}
