@import "../../Variables/colors.scss";
@import "../../Variables/items.scss";

.NextPage-container {
  background-color: rgba(0, 0, 0, 0.259);
  width: 3rem;
  height: 6rem;
  position: fixed;
  bottom: 50vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
}

@media only screen and (min-width: 720px) {
  .NextPage-container {
    right: calc(50vw - 360px);
  }
}
